<div style="flex: 1; direction: row; justify-content: center; align-items: center;">
    <div style="border: 1px solid black; width: 640px; height: 480px; display: flex;">
        <canvas id="canvas" width="640" height="480"></canvas>
    </div>
    <div style="display: flex;">
        <input type="color" id="pixel_color" />
        <br />
        <textarea id="secret_message" placeholder="Enter your secret message" style="width: 586px; height: 20px;"></textarea>
        <br />
        <input type="hidden" id="relay" value="{{relay}}" />
    </div>
</div>
<script src="script.js"></script>
